@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* ===== Colours ===== */
:root{
    --body-color: #F2F2F2;
    --nav-color: #010718;
    --side-nav: #FFFFF6;
    --text-color: #010718;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--side-nav);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--side-nav);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links__item {
    margin: 10px;
}

.nav-links .nav-links__item a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links .nav-links__item a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links .nav-links__item:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.row {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    position: relative; /* Position relative pour que .result__box puisse être positionné relativement à .row */
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Ajuster le padding pour laisser de la place à l'icône */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box img.loupe {
    position: absolute;
    right: 10px; /* Ajuster la position selon les besoins */
    width: 20px;
    height: 20px;
}

.result__box {
    right: 4px;
    top: 108px;
    width: 200px;
    position: absolute;
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    border: none;
    z-index: 10;
}

.result__box ul {
    padding: 0;
    margin-top: 0;
}

.result__box ul li {
    list-style-type: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result__box ul li:hover {
    background: #e9f3ff;
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex-grow: 1;
    overflow-y: auto;
}

.show, .tvshow {
    padding: 5px;
    display: flex;
    margin: 10px 0;
}

.show:nth-child(even) .link {
    flex-direction: row-reverse;
}

.show:nth-child(even) .link .show__info {
    padding-right: 10px;
}

.link, .tvshow, .link__season, .season {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;
    color: var(--text-color);
}

.show__info, .tvshow__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 10px;
}

.show__desc, .tvshow__overview {
    overflow-y: auto;
    text-overflow: ellipsis;
    max-height: 115px;
}

.show__poster, .season__poster {
    max-height: 200px;
}

.show__desc, .show__name, .tvshow__overview {
    font-family: "Josefin Sans", sans-serif;
}

h3 {
    margin-bottom: 10px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: var(--side-nav);
    text-align: center;
}

.tvshow__title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.tvshow__overview {
    max-height: 150px;
}

.list__season {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.season {
    margin: 10px 0;
}

.season__name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.link__season {
    flex-grow: 1;
}

.season__name h3 {
    text-align: center;
}

.tvshow__originalName {
    font-style: italic;
    margin-right: 10px;
}

.tvshow {
    max-height: 250px;
}

h1 {
    margin-bottom: 0;
}

.season__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5px;
}

a.link.season__show__name {
    text-align: right;
}

.episode__list {
    display: flex;
    flex-direction: column;
}

.episode {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.episode__title {
    display: flex;
}

.episode__name {
    margin: 10px 0;
}

h4 {
    margin: 0;
}

body.dark .episode {
    color: white;
}

body.dark .footer {
    color: #CCCCCC;
}

a.link.season__show__name:hover {
    color: lightseagreen;
}

a.link {
    flex-grow: 1;
}

@media(min-width: 600px) {
    .show__desc {
        font-size: larger;
    }
    .show__name {
        font-size: larger;
    }
    body {
        max-width: 800px;
        margin: 0 auto;
    }
    .show__desc, .tvshow__overview {
        max-width: 600px;
    }
    .tvshow {
        border: 2px black solid;
        border-radius: 10px;
        background-color: white;
    }

    body.dark .tvshow {
        background-color: black;
        border-color: #CCCCCC;
    }
}

@media(min-width: 1000px) {
    body {
        max-width: 1200px;
    }
}